body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.calculadora {
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 280px; 
}

input {
    width: 100%;
    padding: 20px;
    font-size: 28px; 
    text-align: right;
    border: none;
    border-radius: 10px;
    background-color: #000;
    color: white;
    margin-bottom: 10px;
    box-sizing: border-box;
    height: 60px; 
}

.botones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 20px;
    font-size: 24px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #333;
    color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


button:nth-child(-n+16):not(:nth-child(1)) {
    background-color: #4d4d4d;
}


button:nth-child(4n) {
    background-color: #f49b42;
}


button:nth-child(17) {
    background-color: #f49b42;
}


button:nth-child(1) {
    background-color: #a6a6a6;
}

button:hover {
    background-color: #666;
}

button:active {
    background-color: #ffbf00;
    transform: scale(0.98);
}
